.skeleton-loader {
  position: relative;
  top: -100px;
  width: 400px;
  height: 200px;
}

.skeleton-image {
  position: absolute;
  border-radius: 8px;
  width: 400px;
  height: 200px;
  background-color: #f0f0f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
